/*
.container{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    }
 
.main-div
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    height:60%;
    width: 30%;
}


img{
    height:80%;
    width: 80%;
}
*/

    